<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.example.autobahn"
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="8"/>
	<application android:label="@string/app_name">
		<activity
			android:name="autobahn.android.MainMenu"
			android:label="@string/app_name">
		</activity>
		<activity android:name="autobahn.android.TrackCircuitActivity"/>
        <activity android:name="autobahn.android.AboutActivity"/>
		<activity android:name="autobahn.android.LoginActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="autobahn.android.IdmsActivity"/>
		<activity
			android:name="autobahn.android.PrefsActivity"
			android:label="@string/titlePrefs"/>
		<activity android:name="autobahn.android.SingleCircuitActivity"/>
		<activity
			android:name="autobahn.android.RequestActivity2"
			android:windowSoftInputMode="stateHidden"/>


	</application>

	 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	 
	<uses-permission android:name="android.permission.INTERNET"/>

</manifest> 
